{% extends "layouts/base.twig" %}

{% block content_header %}
    <h1>
        Clientes
        <small>Cadastro de novo cliente</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Início </a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li class="active">Adicionar</li>
    </ol>
{% endblock %}

{% block content %}

    {# Mensagens de feedback para o usuário #}
    {% if session.flashdata('msg_erro') %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Alerta!</h4>
            {{ session.flashdata('msg_erro') }}
            <ul>
                {% for erro in session.flashdata('erros') %}
                    <li>{{ erro }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Formulário de cadastro de clientes</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="/clientes" method="POST">
                    <div class="box-body">

                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs pull-right">
                                <li class="active"><a href="#tab_1-1" data-toggle="tab" aria-expanded="true">Básico</a></li>
                                <li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="true">Contato</a></li>
                                <li class=""><a href="#tab_3-2" data-toggle="tab" aria-expanded="true">Endereço</a></li>
                                <li class="pull-left header"><i class="fa fa-th"></i> Cliente </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1-1">

                                    <div class="form-group">
                                        <label for="status" class="col-sm-2 control-label">Status</label>

                                        <div class="col-sm-5">
                                            <select id="status" name="status" class="form-control" required>
                                                <option value="1" selected>Ativo</option>
                                                <option value="0">Inativo</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="tipo" class="col-sm-2 control-label">Tipo de cliente</label>

                                        <div class="col-sm-5">
                                            <select id="tipo" name="tipo" class="form-control" required>
                                                <option value="FISICA" selected>Pessoa Física</option>
                                                <option value="JURIDICA">Pessoa Jurídica</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="nome" class="col-sm-2 control-label">Nome</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do cliente" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="documento" class="col-sm-2 control-label">Documento</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="documento" name="documento" placeholder="CPF/CNPJ" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="senha" class="col-sm-2 control-label">Senha</label>

                                        <div class="col-sm-5">
                                            <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2-2">
                                    <div class="form-group">
                                        <label for="telefone" class="col-sm-2 control-label">Tel. Residencial</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Tel. Residencial"
                                                   data-mask="(00) 00000-0000" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="documento" class="col-sm-2 control-label">Tel. Celular</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="celular" name="celular" placeholder="Tel. Celular"
                                                   data-mask="(00) 00000-0000" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">Email</label>

                                        <div class="col-sm-5">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3-2">
                                    <div class="form-group">
                                        <label for="cep" class="col-sm-2 control-label">Cep</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="cep" name="cep" placeholder="00.000-000"
                                                   data-mask="00.000-000" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="cep" class="col-sm-2 control-label">Endereço</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Rua Bairro Número" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="bairro" class="col-sm-2 control-label">Bairro</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="numero" class="col-sm-2 control-label">Número</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="numero" name="numero" placeholder="Número" maxlength="5" required>
                                        </div>
                                    </div>

                                     <div class="form-group">
                                        <label for="complemento" class="col-sm-2 control-label">Complemento</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Rua Bairro Número">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="cidade" class="col-sm-2 control-label">Cidade</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="cep" class="col-sm-2 control-label">Estado</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="estado" name="estado" maxlength="2" placeholder="Estado" required>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-sm-offset-2">
                            <button type="button"
                                    class="btn btn-danger"
                                    onclick="window.location.href='/clientes'">
                                <i class="fa fa-fw fa-arrow-left">&nbsp;</i>
                                Voltar
                            </button>
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $("#documento").mask('000.000.000-00', {reverse: true});

        $( "#tipo" ).change(function() {
            if ( this.val() == 'FISICA') {
                $("#documento").mask('000.000.000-00', {reverse: true});
            } else {
                $("#documento").mask('00.000.000/0000-00', {reverse: true});
            }
        });
    </script>
{% endblock %}