{% extends "layouts/base.twig" %}

{% block content_header %}
    <h1>
        Produtos
        <small>Cadastro de nova ordem de serviço</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Início </a></li>
        <li><a href="/produtos">Ordens de Serviços</a></li>
        <li class="active">Adicionar</li>
    </ol>
{% endblock %}

{% block content %}

    {# Mensagens de feedback para o ordem de serviço #}
    {% if session.flashdata('msg_erro') %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Alerta!</h4>
            {{ session.flashdata('msg_erro') }}

            <hr />

            <ul>
                {% for erro in session.flashdata('erros') %}
                    <li>{{ erro }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Formulário de cadastro de Ordens de Serviços</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="/ordens-de-servicos" method="POST">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="cliente" class="col-sm-2 control-label">Cliente</label>

                            <div class="col-sm-5">
                                <select class="form-control" id="cliente" name="cliente" required>
                                    {% for cliente in clientes %}
                                        <option value="{{ cliente.id }}">{{ cliente.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="descricao" class="col-sm-2 control-label">Descrição do produto</label>

                            <div class="col-sm-5">
                                <textarea class="form-control" id="descricao" name="descricao" placeholder="" required></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="defeito" class="col-sm-2 control-label">Defeito apresentado</label>

                            <div class="col-sm-5">
                                <textarea class="form-control" id="defeito" name="defeito" placeholder="" required></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-sm-offset-2">
                            <button type="button"
                                    class="btn btn-danger"
                                    onclick="window.location.href='/ordens-de-servicos'">
                                <i class="fa fa-fw fa-arrow-left">&nbsp;</i>
                                Voltar
                            </button>
                            <button type="submit" class="btn btn-success">Adicionar</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
{% endblock %}